* {
  box-sizing: border-box;
  overflow: auto;

}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    align-items: center;
    display: flex;
    font-family: "Raleway", sans-serif;
    justify-content: center;


    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

*,
*::before,
*::after {
    box-sizing: inherit
}
a,
a:link,
a:active {
    color: #000;
    font-weight: 600;
    text-decoration: none
}
a:hover {
    border-bottom: 2px solid #0D29FE;
    color: #000
}


.container {
	width: 100%;
}

.myName {
	font-size: 7vw;
	font-weight: bold;
	color: black;
    text-shadow: 0 1px white;
	margin-bottom: 0;
	margin-top: 0;
}

.myDescription {
	font-size: 30px;
    color: black;
    text-shadow: 0 1px white;
}

.raptorButton {
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
}

@media screen and (max-width: 350px) {
    .myName {
        margin-top: 420px;
    }

    .raptorButton {
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 350px) and (max-width: 640px) {
    .myName {
        margin-top: 300px;
    }

    .raptorButton {
        margin-bottom: 50px;
    }
}